<h1>Strangest Places</h1>
<p>
  They take me away from</br>
  <%= link_to "The strangest places", :action => 'video' %>
</p>
<p>I'm on the radio</p>

<p>
  The time is now:
  <%= @time %>
</p>

<p>
  In one hour's time it iwll be:
  <%= 1.hour.from_now %>
</p>

<% for i in 2..4 %>
<p>
  In <%= i %> hours' time it will be:
  <%= i.hour.from_now %>
</p>
<% end %>
